<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">

      <div class="navbar-header">


        <div class=" logo">
          <img src="http://www.vectorico.com/download/social_media/Instagram-Logo.png" style="height:35px;width:35px">
 
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1280px-Instagram_logo.svg.png"
            style="height:50px;width:130px">
        </div>
        <!-- Adding a search form  -->
       <div>
          <form class="navbar-form" role="search" action="{% url 'search_results' %}" style="padding-left: 280px; padding-top:-40px">

              <input type="text" class="form-control" placeholder="Search user" name="username">
              
          

          </form>
        </div>
        </div>
        <!-- search form end -->


        <div class=" col-md-6 col-sm-6">
          {% if user.is_authenticated %}

          <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"
            aria-expanded="false"><img src="https://image.flaticon.com/icons/svg/1246/1246351.svg"
              style="height:35px;width:35px">
            <span class="caret"></span>
          </a>
          <ul>

            <ul class="dropdown-menu" role="menu">
              <li class="nav-item dropdown">

                <a class="dropdown-item" href="{%url 'postsToday'%}">Home</a>


                <a class="dropdown-item" href="{%url 'new-post'%}">Create Post</a>


                <a class="dropdown-item" href="{%url 'profiledisplay'%}">Profile</a>


                <a class="dropdown-item" href="/accounts/password/change">Change Password</a>

                <a class="dropdown-item" href="{%url 'profile'%}">Sign-up</a>


                <a class="dropdown-item" href="/logout">Logout</a>

              </li>
            </ul>

          </ul>
          {% else %}
          <li>
            <a class='btn btn-default' href="/accounts/login">Login</a>
          </li>

          {% endif %}
        </div>
    </div>
  </nav>
 

</body>

</html>