<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container">
  
  <div class="row">
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
  
      <div class=" col-md-3">
        <img src="http://www.vectorico.com/download/social_media/Instagram-Logo.png" style="height:35px;width:35px">
      </div>
      <div class="col-md-4">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1280px-Instagram_logo.svg.png" style="height:50px;width:130px">
        </div>

       
      <div class=" col-md-6">
        {% if user.is_authenticated %}
        
            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"
              aria-expanded="false"><img src="https://image.flaticon.com/icons/svg/1246/1246351.svg" style="height:35px;width:35px">
              <span class="caret"></span>
            </a>
            <ul>
          
            <ul class="dropdown-menu" role="menu">
                <li class="nav-item dropdown">
                   
                <a class="dropdown-item" href="{%url 'postsToday'%}">Home</a>
             
             
                <a class="dropdown-item"  href="{%url 'new-post'%}">Create Post</a>
            
             
                <a class="dropdown-item" href="{%url 'profiledisplay'%}">Profile</a>
            
             
                <a class="dropdown-item" href="/accounts/password/change">Change Password</a>

                <a class="dropdown-item" href="{%url 'profile'%}">Sign-up</a>
              
           
                <a class="dropdown-item" href="/logout">Logout</a>
              
              </li>
            </ul>
          
        </ul>
        {% else %}
        <li>
          <a class='btn btn-default' href="/accounts/login">Login</a>
        </li>

        {% endif %}
      </div>
        <!-- Adding a search form  -->
        <div class=" col-md-1 navbar-right">

            <form class="navbar-form" role="search" action="{% url 'search_results' %}">
    
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search profile" name="username">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
    
            </form>
          </div>
          <!-- search form end -->
          
  </nav>
</div>
</div>
</div>
</body>

</html>