{%extends 'all-posts/base.html'%}

{% block content %}
{{block.super}}

<div class="container">
    <div class="row">
      <div class="col-md-4">
          <div class="jumbotron" style="background-color: transparent;padding:12px">
              <div class="card"  class="rounded-lg" style="width:500px">
    <img src="{{profilepicture.profilepicture.url}}" class="img-responsive" alt="Image">
    <p>{{profilepicture.user}}</p>
    <p>{{profilepicture.bio}}</p>
  </div>
</div>
</div>
</div>
</div>



{% endblock %}