{%extends 'all-posts/base.html'%}

{% block content %}
{{block.super}}

<div class="container">
  <div class="jumbotron" style="background-color: transparent;padding:12px">
    <div class="row">
      <div class="col-md-4">
        <img src="{{profilepicture.profilepicture.url}}" class="rounded-circle" alt="Image" style="width:300px">

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>{{profilepicture.user}}</p>

    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>{{profilepicture.bio}}</p>
    </div>
  </div>
</div>




{% endblock %}